<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Correo</th>
        <th scope="col">Lugar</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
            <tr *ngFor="let socio of listaSocios">
                <th scope="row">{{socio.id}}</th>
                <td>{{socio.nombre}}</td>
                <td>{{socio.apellidos}}</td>
                <td>{{socio.correo}}</td>
                <td>{{socio.lugar}}</td>
                <td>
                    <button type="button" class="btn btn-success editar" data-toggle="modal"
                            data-target="#editarModal" value="<?php echo $u->id; ?>">Editar
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger borrar" data-toggle="modal"
                            data-target="#borrarModal" value="<?php echo $u->id; ?>">Borrar
                    </button>
                </td>
            </tr>
    </tbody>
</table>