.btn-social{
    position: relative;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: white;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook{
    background-color: #3b5998;

}

.btn-google{
    background-color: #dd4b39;
}